<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a id="myBtn" href="#">LOGIN</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--Login Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal" #closeBtn>&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" [formGroup]=userLogin
					(ngSubmit)="validateUser(userLogin)">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email" formControlName="userName" required>
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="psw" placeholder="Enter password" formControlName="password" required>
            </div>
            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="#">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
      </div>
      
    </div>
  </div>

<div id="id01" class="modal">
  
  <form class="modal-content animate" [formGroup]="reserveTableRequest"
					(ngSubmit)="reserveRestaurantTable(reserveTableRequest)">
    <div class="modal-header" style="padding:35px 50px;">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal" #closeBtn2>&times;</span>
      <h4><span class="glyphicon glyphicon-lock"></span> Reserve Table</h4>
    </div>

    <div class="container">
      <label><b>Reservation Date</b></label>
      <input type="text" placeholder="Enter Reservation Date" name="reserveDate" formControlName="reservationDate"/>

      <label><b>From Time</b></label>
      <input type="text" placeholder="From Time" name="fTime" formControlName="fromTime"/>
      
      <label><b>To Time</b></label>
      <input type="text" placeholder="To Time" name="tTime" formControlName="toTime"/>
        
      <button type="submit" class="btn btn-danger">Reserve</button>
      <!-- <input type="checkbox" checked="checked"> Remember me -->
    </div>

    <!-- <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div> -->
  </form>
</div>

<div id="id02" class="modal" #modalSuccess>
	<div class="modal-header" style="padding:35px 50px;">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal" #closeBtn2>&times;</span>
      <h4><span class="glyphicon glyphicon-lock"></span> Reservation Successful</h4>
      
      <div class="container" *ngFor="let res of reservation?.reservations">
      	<label><b>Reservation ID: </b>{{res.reservationIdentifier}}</label>
      </div>
      
    </div>
</div>

<div class="jumbotron text-center">
  <h1>Foodster</h1> 
  <p>Find the best restaurants, cafes, and bars</p>
  <form class="form-inline" [formGroup]="restaurantsearch"
					(ngSubmit)="onSubmit(restaurantsearch)">
	<div class="col-sm-4 input-group">
	<div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="city" name="city" placeholder="City" type="text" size="20" formControlName="cityName"/>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="keyword" name="keyword" placeholder="Keyword" type="text" formControlName="restaurantName"/>
        </div>
      </div>
      <div class="input-group-btn" align="center">
        <button type="submit" class="btn btn-danger">Search</button>
      </div>
     </div>
  </form> 
</div>

<main id="wrapper">
<div class="scene" id="welcome">
	<article class="content">

		<h1 *ngIf="collectionsDetails">Available Search Results</h1>

		<div class="row" *ngIf="collectionsDetails">
			<div class="col-12">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr *ngFor="let collection of collectionsDetails?.collections">
								<td><img style="width:150px;height:150px;" src={{collection.collection.image_url}}
									alt={{collection.collection.description}}></td>
								<td><strong>{{collection.collection.title}}</strong><br />
								{{collection.collection.description}} <br/>
								<em style="color:#808080">{{collection.collection.res_count}} Places</em><br />
								</td>
								<td>
									<button type="submit" class="btn btn-primary" (click)="viewCollection(collection.collection.collection_id, collectionsDetails?.entity_id)">{{button}}</button>
								</td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
		
		<div class="row" *ngIf="restaurantsDetails">
			<div class="col-12">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr *ngFor="let restaurant of restaurantsDetails?.restaurants">
								<td><img style="width:150px;height:150px;" src={{restaurant.restaurant.thumb}}
									alt={{restaurant.restaurant.name}}></td>
								<td><strong>{{restaurant.restaurant.name}}</strong><br />
								{{restaurant.restaurant.location.locality_verbose}} <br/>
								</td>
								<td>
									<button type="submit" class="btn btn-primary">{{button}}</button><br/><br/>
									<button onclick="document.getElementById('id01').style.display='block'" (click)="setRestauantID(restaurant.restaurant.id)" class="btn btn-primary" style="width:auto;">Book</button>
								</td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>

	</article>
</div>
</main>



<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Company Page</h2>
      <h4>Lorem ipsum..</h4> 
      <p>Lorem ipsum..</p>
      <button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span> 
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4> 
      <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>JOB DONE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">  
	<h2>Portfolio</h2><br>
  <p>The West End is a foodie’s paradise, and the Landon Hotel is
			in the center of it all. With options for traditional English,
			Italian, Indian, American, Chinese, and French cuisines, all within
			two blocks of the hotel, and a variety of tasty culinary delights
			from many other countries, within a half-mile radius, the only
			trouble you’ll have is choosing!</p>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/images/dining_rooftop.jpg" alt="Paris" width="400" height="300">
        <p><strong>Rooftop Café</strong></p>
        <p>Landon Rooftop Café is the destination for five star dining.
				Our master chefs are trained to meet special dietary needs, and we
				offer a range of vegetarian/vegan, kosher, gluten, and dairy free
				selections to accommodate our guests. Whether you’re in the mood
				for our award winning roast beef, fresh select salads, appetizing
				lunch entrees, or delectable desserts, we have you covered.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/images/dining_smoothiebar.jpg" alt="New York" width="400" height="300">
        <p><strong>Smoothie Bar</strong></p>
        <p>The Rooftop Smoothie Bar gives you panoramic views of the
				city, where you can have one of our specialty smoothies while you
				wait for your table. Our top mixologists are constantly bringing new
				and unique offerings to our smoothie menu. We have a wide range of
				locally grown, fresh fruit and vegetable choices to make you custom
				blended drinks. We also have seasonal selections that you won’t
				find anywhere else.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/images/dining_lattes.jpg" alt="San Francisco" width="400" height="300">
        <p><strong>Breakfast &amp; Coffee Bar</strong></p>
        <p>Our traditional breakfast and coffee bar, located adjacent to
				our lounge, are the perfect way to start your morning. We offer a
				wide selection of seasonal fresh fruit, a variety of cereals,
				croissants, crusty sourdough bread, cook-to-order eggs and
				omelettes, fresh juice, coffee, and teas. Breakfast is served from
				7:00 am to 10:00 am daily. Our coffee bar is open until 6:30 pm
				daily.</p>
      </div>
    </div>
  </div><br>
  <h2>What our customers say</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Made By Dhananjay</p> 
</footer>